version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    stdin_open: true
    tty: true




#version: '3.9'

#services:
#  backend:
#    build: ./backend
#    container_name: backend
#    ports:
#      - "5000:5000"
#    volumes:
#      - ./backend:/app
#    environment:
#      - DOTNET_USE_POLLING_FILE_WATCHER=1

#  frontend:
#    build: ./frontend
#    container_name: frontend
#    ports:
#      - "5173:5173"
#    volumes:
#      - ./frontend:/app
#    stdin_open: true
