//#region imports
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
//#endregion

.register {
  &__header {
    margin-bottom: 24px;
  }

  //#region checkbox
  &__checkbox {
    font-family: $font-main;
    margin-top: 7px;
    margin-bottom: 31px;
    display: flex;
    align-items: start;
  }
  //#endregion

  &__button {
    width: 100%;
    padding: 15px 0;
    font-size: 24px;
    font-weight: 400;
  }
}