//#region imports
@use '../abstracts/variables' as *;
//#endregion

//#region divider

  .divider {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 318px;
    margin: 24px 0;

    &-text {
      padding: 0 4px;
      color: #2F2F2F;
      font-size: 24px;
      white-space: nowrap;
    }

    &::before,
    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background-color: #2F2F2F;
    }
  }
//#endregion