//#region imports
@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;
//#endregion

.login {
  &__header {
    margin-bottom: 24px;
  }

  &__input {
    margin-bottom: 24px;
  }
}