//#region imports
@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;
//#endregion

.sellreg {
  font-family: $font-main;

  &__content {
    @include container;
  }

  &__breadcrumb {
    margin-top: 20px;
    @include text (14px);
    &__link {
      @include text (14px);
      text-decoration: none;
      color: #161616;
    }
  }

  &__title {
    margin-top: 20px;
    font-family: $font-logo;
    @include text(32px);

    @include tablet () {
      @include text(48px);
    }
  }
  &__subtitle {
    margin-top: 20px;
  }

  &__block {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    @include tablet () {
      flex-direction: row;
      justify-content: space-between;
      gap: 30px;
    }
  }

  &__form {
    background-color: #F7DFC4;
    padding: 20px 20px;
    @include tablet () {
      padding: 20px 40px;
      width: 65%;
    }
    border-radius: 26px;
    //&__userinfo {}

    &__business {
      margin-top: 30px;
      &__title {
        @include text(16px);
      }
    }

    &__submit {
      margin-top: 30px;
      display: flex;
      justify-content: center;

      &__button {
        border: none;
        padding: 20px 25px;
        background-color: #FF7A1A;
        color: #fff;
        border-radius: 26px;
        font-family: $font-main;
      }
    }

    &__login {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      &__link {
        color: #FF7A1A;
        text-decoration: none;
      }
    }
  }

  &__field {
    margin-top: 10px;
    &__label {
      margin-bottom: 5px;
      padding-left: 5px;
      @include text(14px);
    }
    &__input {
      background-color: #FFF4E6;
      border-radius: 26px;
      border: none;
      padding: 10px 15px;
      width: 100%;
      box-sizing: border-box;
    }
    &__checkbox {
      display: flex;
      align-items: center;
      margin-top: 20px;

      &__input {
        width: 20px;
        height: 20px;
        accent-color: #FF7A1A;
        cursor: pointer;
      }

      &__label {
        font-size: 16px;
        cursor: pointer;
      }

      &__link {
        color: #FF7A1A;
        text-decoration: none;
      }
    }
    //only in reset
    &__or {
      margin-top: 10px;
    }
  }

  &__info {
    margin-top: 30px;
    @include tablet () {
      margin-top: 0;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 32px;
    }
    &__img {
      width: 100%;
    }

    &__card {
      margin-top: 30px;
      background-color: #F7DFC4;
      padding: 15px 25px;
      margin-bottom: 30px;
      border-radius: 26px;
      display: flex;
      align-items: center;

      @include tablet () {
        margin-bottom: 0;
        margin-top: 0;
      }
      gap: 16px;
      &__img {
        width: 32px;
        height: 32px;
      }
      //&__block {}
      &__title {
        @include text(20px);
        margin-bottom: 5px;
      }
      //&__subtitle {}
    }
  }
}